[run]
omit = */migrations/*, */__init__.py, */admin.py, */sitemaps.py, */apps.py, */signals.py, app/utils/hashids.py, */models.py, */mailjet.py

[report]
omit = */migrations/*, */__init__.py, */admin.py, */sitemaps.py, */apps.py, */signals.py, app/utils/hashids.py, */models.py, */mailjet.py